* {
  box-sizing: border-box;
}

.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
  background-color: #253141;
}

.chat-main {
  height: 100vh;
  width: calc(100vw -300px);
  float: left;
  background-color:white ;
}